{{#each this}}
<div>
    <h1>{{this.name}}</h1>
    <p>Capital: {{this.capital}}</p>
    <p>Population: {{this.population}} </p>
    <p>Languages:</p>
    <ul>
        {{#each this.languages }}
        <li>{{nativeName}}</li>
        {{/each }}
    </ul>
    <div>

        <img src="{{this.flag}}" alt="{{this.name}}">
    </div>
</div>
{{/each }}